.index-list {
  color: #000000;
}

.index-list__item {
  color: #000000;
}

.index-list__item--useful {
  color: #000000;
}

.index-list__item--powder {
  color: #000000;
}

.index-list__item--food {
  color: #000000;
}

.index-list__item--time {
  color: #000000;
}

.index-list__description {
  color: #000000;
}
