.main-nav {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #000000;
}

.main-nav__toggle {
  color: #000000;
}

.main-nav__wrapper {
  color: #000000;
}

.main-nav__list {
  color: #000000;
}

.main-nav__item {
  color: #000000;
}

.main-nav__item--current {
  color: #000000;
}
