.product {
  color: #000000;
}

.product__card {
  color: #000000;
}

.product__card--slim {
}

.product__card--fat {
  color: #000000;
}

.product__title {
  font-family: "Oswald", sans-serif;
  font-size: 36;
  line-height: 1;
}

.product__description {
  font-size: 16;
  line-height: 1.5;
}

.product__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 100%;
}
